body {
    margin: 60px 80px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.header {
    display: flex;
    height: 110px;
}

.title {
    flex: 35%;
    font-size: 24px;
    text-align: center;
    align-content: center;
    background-color: #d3d3d3;
}

.menu {
    flex: 65%;
    display: flex;
    flex-direction: column;
}

.menu-block1 {
    flex: 1;
    background-color: #f8f8f8;
}

.menu-block2 {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
    background-color: #d3d3d3;
    margin-left: -60px;
}

.menu-item {
    flex: 1;
    padding: 12px;
    cursor: pointer;
    text-align: left;
}

.menu-item.active {
    background-color: #888888;
    color: yellow;
}

/* Images */
.images {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    margin-top: 10px;
}

.image-1, .image-2 {
    flex: 1 1 300px; /* Каждое изображение займет примерно половину ширины родителя */
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
}

.image-1 img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.image-2 img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin-top: 30px;
}

/* Content */
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    padding: 20px 0;
    margin-top: 20px;
}

.content-box {
    flex: 1 1 300px;
    background-color: white;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
}

.box-header {
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-header img {
    height: 50px;
    width: auto;
}

h3 {
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
}

p {
    line-height: 1.5;
    text-align: justify;
}

@media (max-width: 1000px){
    .title{
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .menu-block1 {
        
        background-color: #f8f8f8;
    }
    .menu-block2 {
        margin-left: 0px;
    }
    .menu-item {
        flex: 1 1 35%;
        padding: 12px;
        cursor: pointer;
        text-align: left;
    }
}