block variables
    - var title = 'Про айфончики'
    -
        var dictMenu = { 
            'Главная': 'index.html', 
            'Таблицы': "graphics.html",  
            'Меню_3': "#", 
            'Меню_4': "#"
        }
    - 
        var listImages = ['image1.jpg', 'image2.jpg', 'image1.jpg']
    - 
        var listSections = [
            {
                'header': 'iPhone 15',
                'image': 'image4.jpg', 
                'text': 'Базовые модели получили чип A16 Bionic, который также установлен в iPhone 14 Pro и Pro Max. Айфон 15 обладает экраном с диагональю 6,1 дюйм, а 15 Plus с диагональю 6.7 дюйма.'
            },
            {
                'header': 'iPhone 16',
                'image': 'image4.jpg', 
                'text': 'Базовые модели были представлены в нескольких цветах: голубой, розовый, жёлтый, зелёный и чёрный. Они имеют алюминиевые рамки и крышку из матового стекла.'
            },
            {
                'header': 'iPhone 17',
                'image': 'image4.jpg', 
                'text': 'Корпус Pro-линейки впервые создан из титана, что делает их самыми лёгкими Pro-версиями айфонов. Они доступны в новых цветах: "Титановый", "Синий титановый".'
            },
            {
                'header': 'iPhone 18',
                'image': 'image4.jpg', 
                'text': 'В моделях Pro используется 5-кратный телеобъектив. Также, теперь в Pro-версиях можно выбрать объектив основной камеры по умолчанию — 24 мм, 28 мм или 35 мм.'
            }
        ]
    -
        var structures = [
            {
                menuItem: "iPhone 15",
                pict: "image1.jpg",
                firstP: `Кинематографический режим теперь позволяет снимать видео в формате 4K HDR 24 кадра в секунду, благодаря чему вы можете снимать по всем стандартам кино. Также, в Pro-моделях была улучшена стабилизация видео, благодаря чему, если вы снимаете с внедорожника или бежите рядом с объектом съемки, то ваши видео будут плавными и чёткими даже без стабилизатора.`,
                secondP: `Во всей линейке iPhone 14 была представлена революционная функция безопасности, которая позволяет обнаруживать серьезные автомобильные аварии и автоматически вызывать службы экстренной помощи. А с функцией Emergency вы можете напрямую соединиться с спутником, что даёт вам возможность обмениваться сообщениями со службами экстренной помощи, когда вы находитесь вне зоны действия сотовой связи или Wi-Fi.`
            },
            {
                firstP: `Иногда возникает задача сравнить модели iPhone по некоторым параметрам — ёмкость аккумулятора, качество камеры, размер оперативной памяти, и, как оказалось, простой таблицы сравнения параметров айфонов, отсортированных по годам нет.`,
                secondP: `Эта таблица как раз была создана чтобы решить этот вопрос исчерпывающе.`
            }
        ]

    - const headers = ['Модель', 'Тип', 'Номер модели', 'Выпуск, г', 'Ёмкость АКБ', 'Вес, г']
    - 
        const data = [
            ['iPhone 15', 'Pro Max', 'A2849', '2023', '4422', '221'],
            ['iPhone 15', 'Pro Max', 'A3108', '2023', '4422', '221'],
            ['iPhone 15', 'Pro Max', 'A3106', '2023', '4422', '221'],
            ['iPhone 15', 'Pro Max', 'A3105', '2023', '4422', '221'],
            ['iPhone 15', 'Pro', 'A2848', '2023', '3274', '187'],
            ['iPhone 15', 'Pro', 'A3102', '2023', '3274', '187'],
            ['iPhone 15', 'Pro', 'A3104', '2023', '3274', '187'],
            ['iPhone 15', 'Pro', 'A3101', '2023', '3274', '187'],
            ['iPhone 15', 'Plus', 'A2847', '2023', '4422', '201'],
            ['iPhone 15', 'Plus', 'A3094', '2023', '4422', '201'],
            ['iPhone 15', 'Plus', 'A3096', '2023', '4422', '201'],
            ['iPhone 15', 'Plus', 'A3093', '2023', '4422', '201'],
            ['iPhone 15', 'Defolt', 'A2846', '2023', '3049', '171'],
            ['iPhone 15', 'Defolt', 'A3090', '2023', '3049', '171'],
            ['iPhone 15', 'Defolt', 'A3092', '2023', '3049', '171'],
            ['iPhone 15', 'Defolt', 'A3089', '2023', '3049', '171'],
            ['iPhone 14', 'Pro Max', 'A2651', '2022', '4323', '240'],
            ['iPhone 14', 'Pro Max', 'A2896', '2022', '4323', '240'],
            ['iPhone 14', 'Pro Max', 'A2893', '2022', '4323', '240'],
            ['iPhone 14', 'Pro Max', 'A2895', '2022', '4323', '240'],
            ['iPhone 14', 'Pro Max', 'A2894', '2022', '4323', '240'],
            ['iPhone 14', 'Pro', 'A2650', '2022', '3200', '206'],
            ['iPhone 14', 'Pro', 'A2892', '2022', '3200', '206'],
            ['iPhone 14', 'Pro', 'A2889', '2022', '3200', '206'],
            ['iPhone 14', 'Pro', 'A2891', '2022', '3200', '206'],
            ['iPhone 14', 'Pro', 'A2890', '2022', '3200', '206'],
            ['iPhone 14', 'Plus', 'A2632', '2022', '4325', '203'],
            ['iPhone 14', 'Plus', 'A2888', '2022', '4325', '203'],
            ['iPhone 14', 'Plus', 'A2885', '2022', '4325', '203'],
            ['iPhone 14', 'Plus', 'A2887', '2022', '4325', '203'],
            ['iPhone 14', 'Plus', 'A2886', '2022', '4325', '203'],
            ['iPhone 14', 'Defolt', 'A2649', '2022', '3279', '172'],
            ['iPhone 14', 'Defolt', 'A2884', '2022', '3279', '172'],
            ['iPhone 14', 'Defolt', 'A2881', '2022', '3279', '172'],
            ['iPhone 14', 'Defolt', 'A2883', '2022', '3279', '172'],
            ['iPhone 14', 'Defolt', 'A2882', '2022', '3279', '172'],
            ['iPhone 13', 'Pro Max', 'A2484', '2021', '4352', '238'],
            ['iPhone 13', 'Pro Max', 'A2645', '2021', '4352', '238'],
            ['iPhone 13', 'Pro Max', 'A2641', '2021', '4352', '238'],
            ['iPhone 13', 'Pro Max', 'A2644', '2021', '4352', '238'],
            ['iPhone 13', 'Pro Max', 'A2643', '2021', '4352', '238'],
            ['iPhone 13', 'Pro', 'A2483', '2021', '4352', '238'],
            ['iPhone 13', 'Pro', 'A2640', '2021', '4352', '238'],
            ['iPhone 13', 'Pro', 'A2636', '2021', '4352', '238'],
            ['iPhone 13', 'Pro', 'A2639', '2021', '4352', '238'],
            ['iPhone 13', 'Pro', 'A2638', '2021', '4352', '238'],
            ['iPhone 13', 'Defolt', 'A2482', '2021', '4352', '238'],
            ['iPhone 13', 'Defolt', 'A2635', '2021', '4352', '238'],
            ['iPhone 13', 'Defolt', 'A2631', '2021', '4352', '238'],
            ['iPhone 13', 'Defolt', 'A2634', '2021', '4352', '238'],
            ['iPhone 13', 'Defolt', 'A2633', '2021', '4352', '238'],
            ['iPhone 13', 'Mini', 'A2481', '2021', '4352', '238'],
            ['iPhone 13', 'Mini', 'A2630', '2021', '4352', '238'],
            ['iPhone 13', 'Mini', 'A2626', '2021', '4352', '238'],
            ['iPhone 13', 'Mini', 'A2629', '2021', '4352', '238'],
            ['iPhone 13', 'Mini', 'A2628', '2021', '4352', '238']
        ]
    - 
        const sortOptions = [
            { value: '0', label: 'Нет', selected: true },
            { value: '1', label: 'Модель' },
            { value: '2', label: 'Тип' },
            { value: '3', label: 'Номер модели' },
            { value: '4', label: 'Выпуск' },
            { value: '5', label: 'Ёмкость' },
            { value: '6', label: 'Вес' }
        ]